---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Splash from "../components/splash.astro";
import Intro from "../components/intro.astro";
import Features from "../components/features.astro";
import Compatibility from "../components/tools.astro";
import Footer from "../components/footer.astro";
import Demo from '../components/demo.astro';
---

<html lang="es" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Importa la fuente zen Ace SC desde Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
    <title>Orion</title>
  </head>
  <body id="top">
    <Header />
    <Splash />
    <div class="space-y-24 px-8 py-32">
      <Intro />
      <Features />
      <Compatibility />
      <Demo />
    </div>
    <Footer />
  </body>
</html>
