---
import { Image } from "astro:assets";
import logoORIONImage from "../../assets/logoORION.png";
import Starfield from "./starfield.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative bg-black h-[calc(70vh-4rem)]">
  <Starfield />
  <div class="relative flex flex-col sm:flex-row items-center justify-center h-full gap-50">
    
    <!-- TEXTO -->
    <h2 class="text-center gradient-text font-extrabold tracking-tighter text-6xl md:text-8xl text-red-500 text-shadow">
      HRI Robot<br/>
      Low cost,<br/>
      Open Source.
    </h2>

    <!-- LOGO -->
    <div id="logoORION" class="w-2/3 max-w-md animate-float">
      <Image
        class="w-full h-auto object-cover"
        src={logoORIONImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating logoORION in a space suit"
      />
    </div>

  </div>
</section>



<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>


<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }
  #logoORION img {
    max-width: 300px;
    height: auto;
  }

  #logoORION {
    animation: float linear 2.5s infinite alternate;
    margin-top: -75px;
  }

  @media (prefers-reduced-motion: reduce) {
    #logoORION {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
