---
import { Image } from 'astro:assets';
---

<style>
  /* Fuente Bruno Ace SC */
  .font-bruno {
    font-family: 'Bruno Ace SC', cursive;
  }
  /* Estilos para el recuadro del header */
  .header-box {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
  }
</style>

<header class="fixed top-0 left-0 right-0 z-50">
  <!-- El header externo es transparente sin padding -->
  <div class="container mx-auto px-4 mt-4">
    <!-- El recuadro interno es el que tiene fondo, borde y sombra -->
    <div class="header-box flex justify-between items-center py-4 px-4 rounded-lg border border-black">
      <a href="/" data-view-transition class="flex items-center uppercase font-bold transition-colors duration-200 font-bruno text-red-500">
        orion
      </a>
    </div>
  </div>
</header>
